@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #header {
    @apply w-full h-20 px-4 py-7.5 flex flex-row flex-nowrap justify-between items-center drop-shadow-base
    md:px-20 md:py-6
    bg-white text-night
    dark:bg-gunmetalLight dark:text-white;
  }

  #filter {
    @apply w-full max-w-120 h-12 mb-10 pl-18.5 text-xs font-normal rounded
    md:w-120 md:h-14 md:mb-12 md:text-sm
    bg-white placeholder-battleshipGray
    dark:bg-gunmetalLight dark:placeholder-white;
  }

  #filter-dropdown {
    @apply w-full h-12 mb-8 px-6 py-3.5 flex items-center cursor-pointer rounded
    md:h-14 md:mb-12
    bg-white text-night
    dark:bg-gunmetalLight dark:text-white;
  }

  #filter-dropdown-list {
    @apply absolute w-full px-6 py-4 top-13 left-0 rounded
    md:top-15
    bg-white text-night
    dark:bg-gunmetalLight dark:text-white;
  }

  .dropdown-icon {
    @apply absolute right-4.75 top-4.75 md:right-4.5 md:top-5.5 cursor-pointer;
  }

  .country-card {
    @apply w-66 h-84 mb-10 rounded
    md:mb-18.75 
    bg-white text-night
    dark:bg-gunmetalLight dark:text-white;
  }

  .back-button {
    @apply relative w-26 h-8 mx-7 mt-10 mb-16 pl-12.5 pr-6 rounded drop-shadow-button flex flex-row flex-nowrap justify-center items-center text-sm font-light
    md:w-34 md:h-10 md:m-20 md:pl-15.5 md:pr-9.75 md:text-base
    bg-white text-night
    dark:bg-gunmetalLight dark:text-white;
  }
}

input:focus,
button:focus,
select:focus {
  @apply outline-none border-none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
